
header
  width 100%
  background-color white
  padding 30px
  box-sizing border-box
  border-bottom 1px solid $light_gray

  .logo
    display inline-block
    cursor pointer
    font-weight bold

    span.tagline
      color $gray
      font-weight normal

nav
  float right

  ul li
    display inline

    &:not(:last-child)
      padding-right 15px
