.item-grid
  background-color $light_gray
  cursor pointer
  size 250px
  font-size 18px
  padding 40px
  display inline-block
  margin-bottom 15px
  position relative

  span
    display block

  .title
    font-size 30px
    text-transform capitalize

  .note
    color $gray

  .add-new
    // align(both)
    border 1px solid $light_gray
    background-color white

  .type
    font-weight bold
    font-size 12px
    text-transform uppercase
    letter-spacing 1px

  &:hover
    background-color #ddd
