edit()

header
  width 100%
  background-color $gray
  padding 20px
  box-sizing border-box

  .logo
    font-weight bold

  .tagline,
  .logo
    display inline

nav
  float right

  ul li
    display inline

    &:not(:last-child)
      padding-right 15px
