<template name="index">

  <div class="wrapper left">

    <section class="place">

      <h3>Places</h3>

      <a class="item-grid" href="{{pathFor 'new/place'}}"><span class="add-new type">+ Add new place</span></a>

    </section>


    <section class="food">

      <h3>Foods</h3>

      {{#each foods}}
        {{> item }}
      {{/each}}

      <a class="item-grid" href="{{pathFor 'new/food'}}"><span class="add-new type">+ Add new food</span></a>

    </section>


    <section class="drink">

      <h3>Drinks</h3>

      {{#each drinks}}
        {{> item }}
      {{/each}}

      <a class="item-grid" href="{{pathFor 'new/drink'}}"><span class="add-new type">+ Add new drank</span></a>

    </section>

  </div>

</template>
